services:
  # The Tuner: Fetches Twitch streams and serves them to Threadfin
  tpt:
    build: .
    image: twitch-plex-tuner:latest
    container_name: twitch-plex-tuner
    restart: always
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      # IMPORTANT: This must be reachable by Plex!
      - BASE_URL=http://192.168.178.39:5200
      - SUBSCRIPTIONS_PATH=/config/subscriptions.yaml
      - STREAM_QUALITY=720p,720p60,1080p,1080p60,best
      - RECORDING_PATH=/recordings
      - RECORDING_RETENTION_DAYS=14
      - GUIDE_UPDATE_MINUTES=5
      # - THREADFIN_URL=http://threadfin:34400 # URL to force update Threadfin
      # AAC + AnnexB filter fixes "non-existing PPS" errors. Reduced analysis time for faster start.
      - FFMPEG_ARGS=-hide_banner -loglevel error -fflags +genpts -analyzeduration 2000000 -probesize 2000000 -i pipe:0 -c:v copy -c:a aac -b:a 128k -bsf:v h264_mp4toannexb -f mpegts pipe:1
    volumes:
      - ${SUBSCRIPTIONS_PATH:-./subscriptions.yaml}:/config/subscriptions.yaml:ro
      - ${RECORDING_PATH:-./recordings}:/recordings
    ports:
      - "5200:5000"

  # Threadfin: Buffers streams and presents them to Plex
  # threadfin:
  #   image: fyb3roptik/threadfin:latest
  #   container_name: threadfin
  #   restart: always
  #   ports:
  #     - "34400:34400"
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #   volumes:
  #     - ./threadfin/conf:/home/threadfin/conf
  #     - ./threadfin/temp:/tmp/threadfin
