services:
  # The Tuner: Fetches Twitch streams and serves them to Threadfin
  tpt:
    build: .
    image: twitch-plex-tuner:latest
    container_name: twitch-plex-tuner
    restart: always
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      # IMPORTANT: This must be reachable by Plex!
      - BASE_URL=http://192.168.178.39:5200
      - SUBSCRIPTIONS_PATH=/config/subscriptions.yaml
      - STREAM_QUALITY=720p,720p60,best
      - RECORDING_PATH=/recordings
      - RECORDING_RETENTION_DAYS=30
      - GUIDE_UPDATE_MINUTES=5
      - STREAM_ENGINE=yt-dlp
      - JELLYFIN_URL=http://192.168.178.39:8096
      - JELLYFIN_API_KEY=${JELLYFIN_API_KEY}
      # User-provided tuned arguments for maximum compatibility (includes audio transcoding to AAC)
      - FFMPEG_ARGS=-hide_banner -loglevel error -i pipe:0 -c:v copy -c:a libmp3lame -b:a 64k -f mpegts pipe:1 # legacy
    volumes:
      - ${SUBSCRIPTIONS_PATH:-./subscriptions.yaml}:/config/subscriptions.yaml:ro
      - ${RECORDING_PATH:-./recordings}:/recordings
    ports:
      - "5200:5000"
