services:
  # The Tuner: Fetches Twitch streams and serves them to Threadfin
  tpt:
    build: .
    image: twitch-plex-tuner:latest
    container_name: twitch-plex-tuner
    restart: always
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - BASE_URL=http://twitch-plex-tuner:5000
      - SUBSCRIPTIONS_PATH=/config/subscriptions.yaml
      - STREAM_QUALITY=1080p60,1080p,720p60,720p,best
      - RECORDING_PATH=/recordings
      - GUIDE_UPDATE_MINUTES=10
    volumes:
      - ${SUBSCRIPTIONS_PATH:-./subscriptions.yaml}:/config/subscriptions.yaml:ro
      - ${RECORDING_PATH:-./recordings}:/recordings
    ports:
      - "5200:5000"

  # Threadfin: Buffers streams and presents them to Plex
  threadfin:
    image: fyb3roptik/threadfin:latest
    container_name: threadfin
    restart: always
    ports:
      - "34400:34400"
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./threadfin/conf:/home/threadfin/conf
      - ./threadfin/temp:/tmp/threadfin
