services:
  # The Tuner: Fetches Twitch streams and serves them to Threadfin
  tpt:
    build: .
    image: twitch-plex-tuner:latest
    container_name: twitch-plex-tuner
    restart: always
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      # IMPORTANT: This must be reachable by Plex!
      - BASE_URL=http://192.168.178.39:5200
      - SUBSCRIPTIONS_PATH=/config/subscriptions.yaml
      - STREAM_QUALITY=720p,720p60,best
      - RECORDING_PATH=/recordings
      - RECORDING_RETENTION_DAYS=30
      - GUIDE_UPDATE_MINUTES=5
      - STREAM_ENGINE=yt-dlp
      # User-provided tuned arguments for maximum compatibility (includes audio transcoding to AAC)
      - FFMPEG_ARGS=-hide_banner -loglevel error -i pipe:0 -c:v copy -c:a libmp3lame -b:a 64k -f mpegts pipe:1 # legacy
    volumes:
      - ${SUBSCRIPTIONS_PATH:-./subscriptions.yaml}:/config/subscriptions.yaml:ro
      - ${RECORDING_PATH:-./recordings}:/recordings
    ports:
      - "5200:5000"

  # Threadfin: Buffers streams and presents them to Plex
  # threadfin:
  #   image: fyb3roptik/threadfin:latest
  #   container_name: threadfin
  #   restart: always
  #   ports:
  #     - "34400:34400"
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #   volumes:
  #     - ./threadfin/conf:/home/threadfin/conf
  #     - ./threadfin/temp:/tmp/threadfin
